# Ignore
node_modules/*
log/*
shortcuts_to_modules
config.json
discord dungeons bot api.txt

# Allow
!node_modules/log_writer
!node_modules/authorization_command
!node_modules/consts
!node_modules/states_manager
!node_modules/items_manager
!node_modules/statuses_manager
!node_modules/data_manager
!node_modules/commands_id_manager