# Ignore
node_modules/*
log/*
shortcuts_to_modules
config.json

# Allow
!node_modules/log_writer
!node_modules/authorization_command
!node_modules/consts
!node_modules/state_manager
!node_modules/items_manager
!node_modules/statuses_manager